version: '3.9'
services:
  db:
    restart: unless-stopped
    environment:
      POSTGRES_USER: fiteit
      POSTGRES_PASSWORD: fiteit
      POSTGRES_DB: fiteit
    ports:
      - "5436:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8081:8080"
volumes:
  db-data:
